@import "web";

.photos-viewer {
  position: absolute;
  top: 0;
  left: -100%;
  width: 0;
  height: 0;
  overflow: hidden;

  &.enabled {
    width: 300%;
    height: 100%;
    background: black;
  }

  &.closing {
    .photos-viewer-photo:nth-child(2) {
      .transition(top 0.35s @easeInCubic, opacity 0.35s linear);
      top: 100px;
      opacity: 0;
    }
  }

  &.move {
    .transition(margin-left 0.35s @easeOutQuart);
  }

  .photos-viewer-photo {
    position: absolute;
    top: 0;
    left: 33.33333333%;
    width: 33.33333333%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    &:first-child {
      left: 0;
    }

    &:last-child {
      left: 66.66666666%;
    }

    .photos-viewer-play {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      overflow: hidden;
      border: 2px solid rgba(255, 255, 255, 0.9);
      color: rgba(255, 255, 255, 0.9);
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.3);
      .transform(translateX(-50%), translateY(-50%));
      font-size: 3.6rem;
      text-align: center;
      box-sizing: border-box;
      padding-top: 1.45rem;
      text-indent: 7px;
    }

    video {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .photos-viewer-photo:nth-child(2) {
    .transition(top 0.35s @easeOutQuart, opacity 0.35s @easeOutQuart);
  }

  &.preload {
    .photos-viewer-photo:nth-child(2) {
      .no-transition();
      top: 100px;
      opacity: 0;
    }
  }

  &.playing {
    .photos-viewer-photo:nth-child(2) .photos-viewer-play {
      display: none;
    }
  }
}

.photos-viewer-date {
  position: absolute;
  top: -40px;
  left: 50%;
  .transform(translateX(-50%));
  padding: 0.2rem 1.5rem;
  border-radius: 2rem;
  background: @accentColor;
  color: white;
  font-weight: 400;
  font-size: 1.8rem;
  .transition(top 0.35s @easeInOutQuad);

  &.show {
    top: 10px;
  }
}
