<div class="photos-nav">
  <rv-require name="pl-scrolls" src="/public/vendor/plumes/scrolls/pl-scrolls"></rv-require>

  <div class="pl-scrolls">
    <section class="pl-section">
      <div class="photos-nav-content">
        <span class="photos-nav-lengths">{{photosLength}}</span> {{_('photos')}} -
        <span class="photos-nav-lengths">{{videosLength}}</span> {{_('videos')}}

        <h2>{{_('Moments')}}</h2>
        {{#moments}}
          <div class="photos-nav-moment {{selected ? 'selected' : ''}}" on-click="selectMoment">
            {{name}}<span>{{count}}</span>
          </div>
        {{/moments}}
        <div class="clear"></div>

        <h2>{{_('People')}}</h2>
        <div class="photos-nav-people">
          {{#people}}
            <div
              class="photos-nav-person {{selected ? 'selected' : ''}}"
              title="{{name + ': ' + count}}"
              style="background-image: url('/media/photos/people/{{avatar || name + '.jpg'}}');"
              on-click="selectPerson"
            ></div>
          {{/people}}
        </div>
        <div class="clear"></div>

        <h2>{{_('Dates')}}</h2>

        {{#months}}
          <h3>{{title}}</h3>
          {{#days}}
            <div
              class="photos-nav-day {{id == dateSelectedId ? 'selected' : ''}}"
              on-click="toAnchor"
            >{{day}}</div>
          {{/days}}
          <div class="clear"></div>
        {{/months}}
      </div>
    </section>
  </div>
</div>
