<div class="photos-layout {{selectionModeActivated ? 'select-mode' : ''}} {{toMoment ? 'to-moment' : ''}}">
  <rv-require name="pl-scrolls" src="/public/vendor/plumes/scrolls/pl-scrolls"></rv-require>

  <div class="pl-scrolls">

    <div class="photos-layout-container" style="height: {{containerHeight}}px;">
      <div class="photos-layout-content" style="top: {{contentTop}}px;">
        <div class="photos-layout-content-space"></div>
        {{#dates:i}}
          {{#if isPart && i === 0}}
            {{#modulo}}
              <div class="photos-layout-photo"></div>
            {{/modulo}}
          {{/if}}
          {{#if !isPart}}
            <h2>{{dateTitle}}</h2>
          {{/if}}
          {{#photos}}
            <a
              href="#{{index}}"
              class="photos-layout-photo {{isVideo ? 'is-video' : ''}}"
              style="background-image: url('{{cover}}');"
              on-click="select"
            >
              {{#if selectionModeActivated}}
                {{#if people && people.length}}
                  <div class="photos-layout-photo-people" title="{{people.join('\n')}}"><i class="fa fa-user"></i> {{people.length}}</div>
                {{/if}}
                {{#if moments && moments.length}}
                  <div class="photos-layout-photo-moments" title="{{moments.join('\n')}}"><i class="fa fa-tag"></i> {{moments.length}}</div>
                {{/if}}
                <div class="photos-layout-photo-check {{selected ? 'selected' : ''}}" on-click="select">
                  {{#if selected}}
                    <i class="fa fa-check"></i>
                  {{/if}}
                </div>
              {{/if}}
            </a>
          {{/photos}}
        {{/dates}}

        <div class="clear"></div>
      </div>
    </div>

  </div>

  <div class="photos-layout-selection-bar {{displaySelectionBar ? 'show' : ''}}">
    <div
      class="photos-layout-remove-bar {{canAdministratePeople && selectionWithPeople ? 'show' : ''}}"
    >
      <button class="photos-layout-remove" on-click="removePeople">{{_('clear the identities')}}</button>
    </div>
    <div class="clear"></div>

    <div
      class="photos-layout-remove-bar {{canAdministrateMoments && hasMomentFiltered ? 'show' : ''}}"
    >
      <button class="photos-layout-remove" on-click="removeMoment">{{_('remove from the moments filtered')}}</button>
    </div>
    <div class="clear"></div>

    <div class="photos-layout-people-bar {{canAdministratePeople ? 'show' : ''}} {{selectionUnique ? 'unique' : ''}}">
      <rv-require
        name="pl-autocomplete"
        el-name="photos-layout-people"
        src="/public/vendor/plumes/autocomplete/pl-autocomplete"
        class="photos-layout-autocomplete-container"

        data-placeholder="{{_('Identify...')}}"
        data-cls="photos-layout-autocomplete"
        data-selectioncls="photos-layout-autocomplete-selection"
        data-inputcls="photos-layout-autocomplete-input"
        data-listcls="photos-layout-autocomplete-list"
        data-bind-focus="peopleAddFocus"
        data-bind-change="peopleAddChange"
      ></rv-require>

      <button class="photos-layout-avatar-button" on-click="defineAvatar"><i class="fa fa-camera"></i></button>
      <button class="photos-layout-add-button" on-click="addPeople">+</button>
    </div>

    <div class="photos-layout-moments-bar {{canAdministrateMoments ? 'show' : ''}}">
      <rv-require
        name="pl-autocomplete"
        el-name="photos-layout-moments"
        src="/public/vendor/plumes/autocomplete/pl-autocomplete"
        class="photos-layout-autocomplete-container"

        data-placeholder="{{_('Add to a moment...')}}"
        data-cls="photos-layout-autocomplete"
        data-selectioncls="photos-layout-autocomplete-selection"
        data-inputcls="photos-layout-autocomplete-input"
        data-listcls="photos-layout-autocomplete-list"
        data-bind-focus="momentAddFocus"
        data-bind-change="momentAddChange"
      ></rv-require>

      <button class="photos-layout-add-button" on-click="addMoment">+</button>
    </div>
  </div>
</div>
